.table-container {
  background-color: #000;
  border-radius: 12px;
  padding: 24px;
  width: 90%;
  max-width: 1000px;
  margin: 100px auto 0 auto; 
}
.form-container {
    max-width: 500px;  
    width: 90%;        
}
.daftar { 
    max-width: 500px;  
    width: 90%;        
    margin: 50px auto;
    padding-left: 50px;
}
.nama { 
    max-width: 500px;  
    width: 90%;        
    padding-left: 200px;
}